/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgb(75,106,136);
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: rgb(179,129,179);
  }

   header{
    display: block;
    position: relative;
    background-image: url('../images/headerpicture.JPG');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px;
    text-align: center;
    /*background: #1abc9c;*/
    color: white;
    font-size: 30px;
   }
  *{
    box-sizing: border-box;
  }

  .block{
    display: block;
    border: 2rem black solid;
   }

  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;

    }

   body{
   margin: 0;
   padding: 0;
   font-size: 1.4em; /* test for this! Make all sizes em or rem */
   background-color: rgb(179,129,179);
   }

   p {
    padding: 0 20px;
    text-align: justify center;
   }
   .abouttext{
     text-align: center;
     padding-top: 30px;
     padding-bottom: 30px;
     padding-left: 15px;
     padding-right: 15px;
     margin-top: 30px;
     margin-bottom: 30px;
     margin-right: 5px;
     margin-left: 5px;
     border: 5px solid white;
     
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 2px;
    }
    .column {
      flex: 33%;
      padding: 0 2px;
    }
    
    .column img {
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
